@font-face {
    font-family: 'Cream and Cheese';
    src: url('CreamandCheeseRegular.woff2') format('woff2'),
        url('CreamandCheeseRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body, html{
    margin: 0;
    padding: 0;
}

.sidebar-button{
    border: none;
    height: 40px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #BDBEA9;
    color: #282921;
    text-align: left;
    padding-left: 1em;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.sidebar-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sidebar-subbutton{
    border: none;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    margin-right: 1em;
    background-color: transparent;
    color: black;
    font-weight: bolder;
    transition: background-color 0.3s ease;
}
.sidebar-subbutton:hover{
    background-color: #BDBEA9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hidden{
    display: none;
}
.category{
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-page{
    background-color: #a8aa88;
    color: black;
}

.project-id{
    display: none;
}

#sidebar{
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #BDBEA9;
    width: 300px;
    min-height: 100vh - 2em;
    padding-top: 2em;
    gap: 1em;
}

#body{
    display: grid;
    grid-template-columns: 300px 1fr;
}

#container{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    color: black;
    height: 100%;
    background-color: #cfcfbf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif ;
}
#content{
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.separator{
    width: 100%;
    border-width: 0;
    height: 1px;
    background-color: black;
}

.delete-button{
    height: 25px;
    width: 25px;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}
.delete-button:hover{
    background-color: lightgray;
    border-radius: 50%;
}

.container-card{
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
    background-color: initial;
    transition: background-color 0.3s ease;
    border: solid;
    border-width: 5px;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.container-card:hover{
    background-color: #BDBEA9;
}
.dialog{
    display: none;
    border: none;
    border-radius: 1em;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: #BDBEA9;
    align-items: center;
}
.dialog::backdrop{
    background-color: #93b7be;
    opacity: 0.3;
}
label{
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
}
.row-centered{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.item2{
    flex-grow: 1;
}
.column{
    display: flex;
    flex-direction: column;
}
textarea, input, select{
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    border:solid;
    border-color: darkgray;
    width: 85%;
}
textarea:focus, input:focus, select:focus{
    outline: none;
    border-color: #56876d;
}
#description-input, #description-input-edit{
    height: 15vh;
    width: 20vw;
}
.completed{
    opacity: 0.5;
    color: darkgray;
}
label{
    display: flex;
    flex-direction: column;
}
#confirm-submission, #confirm-edit{
    background-color: #BDBEA9;
    color: black;
    cursor: pointer;
    border: none;
    padding: 1em;
    font-weight: bold;
}
#confirm-submission:hover, #confirm-edit:hover{
    background-color: #a8aa88;
}
input[type=submit]{
    background-color: #BDBEA9;
    color: black;
    cursor: pointer;
    border: none;
    padding: 1em;
    font-weight: bold;
}
input[type=submit]:hover{
    background-color: #a8aa88;
}

#close-dialog, #close-task-dialog{
    background-color: white;
    color: crimson;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 1em;
    right: 1em;
}
#close-dialog:hover, #close-task-dialog:hover{
    background-color: crimson;
    color: white;
}

.toggle-button{
    border: none;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 800;
}
.toggle-button:hover{
    cursor: pointer;
    background-color: lightgray;
}